.banner-img {
    margin-top: 60px;
  }
  .banner {
    position: relative;
    overflow: hidden;
    background: #fff;
    background-size: cover;
    min-height: 550px;
  }
  
  .banner .block {
    padding: 80px 0px 160px;
  }
  
  .block > h1 {
    font-size: 60px;
    line-height: 1.2;
    letter-spacing: -1.2px;
    text-transform: capitalize;
    color: #223a66;
  }
  
  .letter-spacing {
    letter-spacing: 2px;
  }
  
  .text-color {
    color: #223a66;
  }
  
  .text-color-2 {
    color: #e12454;
  }
  
  .divider {
    width: 40px;
    height: 5px;
    background: #e12454;
  }
  .features {
    position: relative;
    top: -70px;
    display: flex;
    justify-content: space-between;
  }
  
  .feature-item {
    flex-basis: 33.33%;
    padding: 45px 30px;
    background-color: #fff;
    border-radius: 15px 15px 15px 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }
  
  .feature-item .feature-icon i {
    font-size: 50px;
    color: #223a66;
  }
  
  .feature-item h4 {
    color: #223a66;
  }
  
  .feature-item p {
    font-size: 14px;
  }
  
  .feature-section.border-top {
    border-top: 1px solid rgba(0, 0, 0, 0.05) !important;
  }
  
  
  @media (max-width: 480px) {
    .fs-h1{
      font-size: 60px;
      font-weight: bolder;
    }
    .carousel-caption {
      position: relative;
      bottom: 0%;
      left: 5%;
      padding-top: 1.25rem;
      padding-bottom: 1.25rem;
      color: #223A66;
      text-align: left;
    }
  }
  
  @media (min-width: 767px) and (max-width: 992px) {
    .fs-h1{
      font-size: 40px !important;
      font-weight: bold;
    }
    .fs-5 {
      font-size: 1rem !important;
    }
    .carousel-caption {
      position: absolute;
      bottom: 6% !important;
      left: 5% !important; 
      padding-top: 1.25rem;
      padding-bottom: 1.25rem;
      color: #223A66;
      text-align: left;
    }
    
  }
  @media (min-width: 992px) and (max-width: 1200px) {
    .fs-h1{
      font-size: 50px;
      font-weight: bolder;
    }
    .fs-5 {
      font-size: 1.2rem !important;
    }
    .carousel-caption {
      position: absolute;
      bottom: 18%;
      left: 8%;
      padding-top: 1.25rem;
      padding-bottom: 1.25rem;
      color: #223A66;
      text-align: left;
    }
    .feature-item {
      flex-basis: 33.33%;
      margin: 0px 20px;
      margin-bottom: 0px;
      padding: 40px 30px;
      background-color: #fff;
      border-radius: 15px 15px 15px 15px;
      box-shadow: 0px 0px 30px 0px rgba(0, 42, 106, 0.1);
    }
  }
  .carousel-caption {
    position: absolute;
    bottom: 18%;
    left: 8%;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    color: #223A66;
    text-align: left;
  }
  .letter-spacing {
    letter-spacing: 2px;
  }
  .about-img img {
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  }
  .home-page h1 {
    color: gray;
    font-family: "Playfair Display", serif;
  }
  
  .home-page {
    display: flex;
    flex-wrap: wrap;
  }
  .home-page .card {
    background-color: rgba(128, 128, 128, 0.097);
    width: 18rem;
  }
  .home-page .card-name-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .home-page .card-price {
    color: green;
    font-weight: bold;
  }
  .home-page button {
    border-radius: 0;
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 14px;
    font-weight: bold;
  }
  
  .home-page .card-text {
    color: rgb(90, 89, 89);
  }
  
  .home-page .card img:hover {
    transform: scale(0.9);
  }
  
  .home-page .card-img-top {
    height: 300px !important;
  }
  /* ==================
  filters
  ============== */
  .filters h4 {
    margin-top: 100px;
    color: gray !important;
    border-bottom: 1px solid rgba(128, 128, 128, 0.337);
  }
  
  .ant-checkbox-wrapper:first-of-type {
    margin-left: 8px;
  }
  
  .ant-checkbox-wrapper {
    margin: 2px;
  }
  .ant-radio-wrapper {
    margin-bottom: 5px !important;
    margin-left: 10px;
  }
  
  .filters button {
    background-color: black;
    width: 100%;
    border: none;
    border-radius: 0;
    margin-top: 20px;
  }
  
  .loadmore {
    color: green;
    font-weight: bold;
    font-size: 20px !important;
  }
  
  .w-hours li {
    padding: 6px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
  
  .counter-stat {
    text-align: center;
    padding: 55px 0px 40px 0px;
    position: relative;
  }
  
  .counter-stat i {
    display: block;
    color: rgba(255, 255, 255, 0.06);
    font-size: 70px;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    -webkit-transform: translateY(25px);
    transform: translateY(25px);
  }
  
  .counter-stat span {
    font-size: 70px;
    color: #fff;
  }
  
  .counter-stat p {
    margin-bottom: 0px;
    color: rgba(255, 255, 255, 0.7);
  }
  
  .mb--80 {
    margin-bottom: -80px;
  }
  
  .service {
    padding-top: 180px;
  }
  
  .service-item {
    background: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 1.5s;
  }
  .service-item:hover{
    transform: scale(.9);
    background: #0DCAF0;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .service-item .icon > h4 {
    font-weight: bolder;
    font-family: "Exo", sans-serif;
    color: #222;
    padding-left: 20px;
  }
  
  .service-block {
    padding: 20px;
    margin-top: 40px;
    border: 1px solid rgba(0, 0, 0, 0.03);
    box-shadow: 0 0 38px rgba(21, 40, 82, 0.07);
  }
  
  /* motivation section start */
  .testimonial-block.style-2 {
    background: #fff;
    padding: 30px;
    margin: 0px 4px;
    margin-bottom: 30px;
  }
  
  .testimonial-block.style-2 .testimonial-thumb {
    float: left;
  }
  
  .testimonial-block.style-2 .testimonial-thumb img {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    margin-right: 20px;
    margin-bottom: 30px;
    border: 5px solid #eff0f3;
    margin-top: -5px;
  }
  
  .testimonial-block.style-2 .client-info p {
    clear: both;
    background: transparent;
  }
  
  
  .award :hover {
      width: 100px;
      height: 50px;
      transform: skew(12deg);
  }
  /* animation-style-01 */
  .owl-item.active .animation-style-01 .slider-content h5,
  .owl-item.active .animation-style-01 .slider-content-2 h5 {
      -webkit-animation: 800ms ease-in-out 0s normal none 1 running zoomInRight;
      animation: 800ms ease-in-out 0s normal none 1 running zoomInRight;
  }
  
  .owl-item.active .animation-style-01 .slider-content h2 {
      -webkit-animation: 1200ms ease-in-out 0s normal none 1 running zoomInRight;
      animation: 1200ms ease-in-out 0s normal none 1 running zoomInRight;
  }
  
  .owl-item.active .animation-style-01 .slider-content h3,
  .owl-item.active .animation-style-01 .slider-content-2 h3 {
      -webkit-animation: 1600ms ease-in-out 0s normal none 1 running zoomInRight;
      animation: 1600ms ease-in-out 0s normal none 1 running zoomInRight;
  }
/* Subscribe section start */

/* our plans section   */
.round-top{
  border-radius: 25px 25px 0 0;
}
.round-full{
  border-radius: 25px;
}
.round-bottom{
  border-radius: 0 0 25px 25px;
}
.box-shadow-item:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.item-info >p{
  font-size: 14px;
  font-weight: bold;
}
.item_button {
  color: #0DCAF0;
  font-size: .875rem;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: #0DCAF0;
  padding: 9px 23px;
  border-radius: 24px 24px 24px 24px;
  transition: 1.5s;
}
.item_button:hover{
  color: #fff;
  font-size: .875rem;
  background-color: #0DCAF0;
  border: 1px solid #0DCAF0;
}
.item_button_two {
  color: #fff;
  font-size: .875rem;
  background-color: #0DCAF0;
  border: 1px solid #0DCAF0;
  padding: 9px 23px;
  border-radius: 24px 24px 24px 24px;
  transition: 0.5s;
}
.item_button_two:hover{
  color: #0DCAF0;
  font-size: .875rem;
  background-color: transparent;
  border: 1px solid #0DCAF0;
}
.item-border{
  border-radius: 25px;
  border: 3px solid #0DCAF0;
}
.text-bi{
  color: #00695C;
}
/* background nanny image */
.bg-nanny {
  /*background: radial-gradient(circle, rgba(57,52,100,.5),
		rgba(0,0,0,0.5)) ,url(../img/mbr-2.jpg);*/
  background-image: url(../../../client/public/Images/bg/nnay-bg-1.jpg);
  background-size: cover;
}
